#etchASketchGrid {
    display: flex;
    width: 500px;
    height: 400px;
    align-content: center;
    justify-content: center;
}
.gridColumns {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    flex: 1 1 1;
}
.gridRows {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex: 1 1 1;
}