#etchASketchGrid {
    display: flex;
    width: 50vw;
    height: 50vh;
    padding-top: 10vh;
    padding-left: 25vw;
}
.gridColumns {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    flex: 1 1 1;
    min-height: 0;
    min-width: 0;
}
.gridRows {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex: 1 1 1;
    min-height: 0;
    min-width: 0;
}
#form {
    align-self: center;
    align-items: center;
    text-align: center;
}